<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- thymeleaf는 스프링부트에서 지원하는 템플릿 엔진 중 하나임 -->
	<!-- JSP는 현업에서는 아직도 많이 사용되고 있지만 스프링부트에서는 공식지원되는 템플릿 엔진이 아니므로 스프링부트에서 사용하고자 할 경우 따로 세팅 변경을 해야함 -->
	<!-- JSP를 사용 시 배포 파일을 WAR형식으로 진행해야함 -->
	<!-- thymeleaf는  html,xml,javascript, css, text, raw을 지원 -->
	<!-- 확장자가 hrml이므로 다른 자바 프레임워크에 사용하기 쉬움 (호환성이 높음) -->
	
	
	<!-- thymeleaf 사용 시  build.gradle 파일을 dependency부분에 implementation 'org.springframework.boot:spring-boot-starter-thymeleaf'를 추가해야함  -->
	
	<!-- thymeleaf 에는 5가지 주요 식이 존재함 -->
	<!-- 변수식 : ${} 스프링부트에서 서버에서 전송된 데이터를 변수로 사용할 수 있음 -->
	<!-- 메세지식 : #{}  -->
	<!-- 링크식 : @{} 스프링부트에서 thymeleaf가 사용하는 기본 경로는 resources/static 폴더가 기본폴더 -->
	<!-- 객체의 변수식 : *{} -->
	<!-- 리터럴 치환식 : || -->
	
	<!-- thymeleaf 기본 객체 -->
	<!-- #ctx -->
	<!-- #vars -->
	<!-- #locale -->
	<!-- #httpServletReqeust -->
	<!-- #httpSession -->
	
	<!-- thymeleaf 유틸리티 객체 -->
	<!-- #dates : java.util.Date 객체 -->
	<!-- #calendars : java.util.Calendar 객체 -->
	<!-- #numbers : 숫자형 객체 -->
	<!-- #strings : 문자열 객체 -->
	<!-- #bools : 참조형 -->
	<!-- #arrays : 배열 -->
	<!-- #lists : java의 list -->
	<!-- #sets -->
	<!-- #maps : java의 hashmap -->
	<!-- #aggregates : 배열이나 컬렉션의 집계 생성 -->
	<!-- #messages : #{...}구문과 동일하게 외부화된 메시지 사용 -->
	<!-- #ids : 반복되는 id 속성을 처리 -->
	
	<!-- 리터럴 : 텍스트, 숫자, boolean, Null -->
	<!-- 텍스트 연결 :  + -->
	<!-- 연산자 : +, -, *, /, %, and, or, not, >, >=, <, <=, ==, != -->
	<!-- 조건연산 : if-then : (if) ? (then), if-then-else : (if) ? (then) : (else), Default : (value) ? (defaultvalue) -->
	
	<h1>thymeleaf 테스트</h1>
	<p th:text="${msg}">
</body>
</html>